---
http_interactions:
- request:
    method: get
    uri: https://www.mountainproject.com/data/get-routes-for-lat-lon?key=200688937-3e1f4800a90a38c8a3d2d427bc7c5176&lat=40.03&lon=-105.25&maxDiff=5.12&maxDistance=10&maxResults=50&minDiff=5.7
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ap-Request-Id:
      - 1536a247-6b39-440a-bdef-a35e76997344
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "routes": [
                {
                    "id": 105748786,
                    "name": "The Naked Edge",
                    "type": "Trad",
                    "rating": "5.11b",
                    "stars": 4.9,
                    "starVotes": 318,
                    "pitches": 6,
                    "location": [
                        "Colorado",
                        "Boulder",
                        "Eldorado Canyon SP",
                        "Redgarden Wall",
                        "Redgarden - Tower Two"
                    ],
                    "url": "https:\/\/www.mountainproject.com\/route\/105748786\/the-naked-edge",
                    "imgSqSmall": "https:\/\/cdn-files.apstatic.com\/climb\/110822565_sqsmall_1494354956.jpg",
                    "imgSmall": "https:\/\/cdn-files.apstatic.com\/climb\/110822565_small_1494354956.jpg",
                    "imgSmallMed": "https:\/\/cdn-files.apstatic.com\/climb\/110822565_smallMed_1494354956.jpg",
                    "imgMedium": "https:\/\/cdn-files.apstatic.com\/climb\/110822565_medium_1494354956.jpg",
                    "longitude": -105.2852,
                    "latitude": 39.9312
                },
                {
                    "id": 105750106,
                    "name": "Rewritten",
                    "type": "Trad",
                    "rating": "5.7",
                    "stars": 4.7,
                    "starVotes": 1236,
                    "pitches": 6,
                    "location": [
                        "Colorado",
                        "Boulder",
                        "Eldorado Canyon SP",
                        "Redgarden Wall",
   [...]
