---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?fields=geometry/location,formatted_address,name&input=Denver&inputtype=textquery&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "candidates" : [
              {
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    }
                 },
                 "name" : "Denver"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 24 Feb 2020 03:17:46 GMT
recorded_with: VCR 5.1.0
