---
http_interactions:
- request:
    method: get
    uri: https://www.hikingproject.com/data/get-trails?key=200683561-7c95d710fabdc975bdd22885fc3c4615&lat=40.0274&lon=-105.2519&maxDistance=10&maxResults=20&sort=distance
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ap-Request-Id:
      - b690a856-96dc-423c-bc7b-db0125fa2350
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "trails": [
                {
                    "id": 7006781,
                    "name": "Dakota Ridge to Sanitas Valley Loop",
                    "type": "Hike",
                    "summary": "A technical ascent with a great view of Boulder, followed by a nice, open downhill pitch.",
                    "difficulty": "greenBlue",
                    "stars": 4,
                    "starVotes": 8,
                    "location": "Boulder, Colorado",
                    "url": "https:\/\/www.hikingproject.com\/trail\/7006781\/dakota-ridge-to-sanitas-valley-loop",
                    "imgSqSmall": "https:\/\/cdn-files.apstatic.com\/hike\/7000176_sqsmall_1554158942.jpg",
                    "imgSmall": "https:\/\/cdn-files.apstatic.com\/hike\/7000176_small_1554158942.jpg",
                    "imgSmallMed": "https:\/\/cdn-files.apstatic.com\/hike\/7000176_smallMed_1554158942.jpg",
                    "imgMedium": "https:\/\/cdn-files.apstatic.com\/hike\/7000176_medium_1554158942.jpg",
                    "length": 2.3,
                    "ascent": 458,
                    "descent": -458,
                    "high": 5961,
                    "low": 5503,
                    "longitude": -105.2942,
                    "latitude": 40.0207,
                    "conditionStatus": "Minor Issues",
                    "conditionDetails": "Mostly Dry, Some Mud: Small patches of ice and minimal mud, did not need microspikes.",
                    "conditionDate": "2020-01-01 18:05:30"
                },
                {
                    "id": 7000000,
                    "name": "Mount Sanitas Loop",
                    "type": "Hike",
                    "summary": "Very popular and scenic loop right from the edge of town.",
                    "difficulty": "blueBlack",
                    "stars": 4.2,
                    "starVotes": 106,
                    "location": "Boulder, Colorado",
                    "url": "https:\/\/www.hikingproject[...]
