---
http_interactions:
- request:
    method: get
    uri: https://www.hikingproject.com/data/get-trails?key=200683561-7c95d710fabdc975bdd22885fc3c4615&lat=40.0274&lon=-105.2519&maxDistance=10&maxResults=5&minStars=5&sort=distance
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ap-Request-Id:
      - 7cf204db-8572-4a78-965e-4d5021ce98ba
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "trails": [
                {
                    "id": 7002938,
                    "name": "Boy Scout",
                    "type": "Trail",
                    "summary": "Access some excellent views of the Indian Peaks at May's Point from this trail.",
                    "difficulty": "blue",
                    "stars": 5,
                    "starVotes": 2,
                    "location": "Boulder, Colorado",
                    "url": "https:\/\/www.hikingproject.com\/trail\/7002938\/boy-scout",
                    "imgSqSmall": "https:\/\/cdn-files.apstatic.com\/hike\/7003658_sqsmall_1554234777.jpg",
                    "imgSmall": "https:\/\/cdn-files.apstatic.com\/hike\/7003658_small_1554234777.jpg",
                    "imgSmallMed": "https:\/\/cdn-files.apstatic.com\/hike\/7003658_smallMed_1554234777.jpg",
                    "imgMedium": "https:\/\/cdn-files.apstatic.com\/hike\/7003658_medium_1554234777.jpg",
                    "length": 0.7,
                    "ascent": 139,
                    "descent": -124,
                    "high": 6865,
                    "low": 6765,
                    "longitude": -105.3032,
                    "latitude": 40.0041,
                    "conditionStatus": "Minor Issues",
                    "conditionDetails": "Snowy, Icy - Fresh snowfall. Be sure to bring crampons.",
                    "conditionDate": "2019-12-29 21:37:58"
                }
            ],
            "success": 1
        }
  recorded_at: Wed, 26 Feb 2020 22:42:06 GMT
recorded_with: VCR 5.1.0
